.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 5px solid #ddd;
  font-size: 0.9rem;
  color: #555;
  min-height: 60px;
}
