* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: rgb(109, 141, 168);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
